<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>




  <div id="app">
    <div id="product">
      <item v-for="item in items" v-bind:item_data="item"></item>
    </div>
    <div id="cart">
      <div id="head">

        <!-- <div id="price">Price</div>
      <div id="quantity">Quantity</div>
      <div id="total">Total</div> -->
      </div>
      <h3>Shopping Cart : </h3>
      <buyitem v-for="buyitem in buyitems" v-bind:buy_data="buyitem"></buyitem>

      <h5 v-if="total()">Sum: $ {{total()}}</h5>
      <h6> Checkout </h6>
    </div>
  </div>


  <template id="product-box">
    <div class="box">
      <img :src="item_data.img"/>
      <i class="fa fa-cart-plus" v-on:click="addItem(item_data)"></i>
      <h2>{{item_data.title}}</h2>
      <p>$ {{item_data.price}}</p>
    </div>
  </template>

  <template id="buy-box">
      <div class="row">
          <img :src="buy_data.img"/>
          <h4>{{buy_data.title}}</h4>
          <p>$ {{buy_data.price}}</p>
          <div class="qty-minus" v-on:click="minusQty(buy_data)"><i class="fas fa-angle-double-down "></i></div>
          <div class="qty">{{buy_data.qty}}</div>
          <div class="qty-plus" v-on:click="plusQty(buy_data)"><i class="fas fa-angle-double-up"></i></div>
          <div class="del" v-on:click="removeItem(buy_data)"><i class="far fa-trash-alt" ></i></div>
          <div class="totalprice"> $ {{buy_data.total}}</div>
      </div>
  </template>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <script src="main.js"></script>
</body>

</html>
