body {
  box-sizing: border-box;
  margin: 0;
}

/* ________________________ PRE-HOME ________________________ */

#pre-homepage {
    height: 100vh;
    width: 100vw;
    /*background: url('../img/007gun-barrel.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);*/
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*.text-scramble-container {
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #232323;
}

.text-scramble {
    font-weight: 100;
    font-size: 28px;
    color: #fafafa; 
}

.dud {
    color: #757575;
}*/

#messengerContainer {
    height: 550px;
    width: 550px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#enter-site {
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
    color: red;
}

#messenger {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    font-family: monospace;
    font-size: 20px;
    /*white-space: nowrap;*/
    /*width: 100%;*/
}


/* ________________________ HOMEPAGE ________________________ */

#homepage {
    /*max-width: 100%;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    background-color: lightgrey;
    padding: 50px;
    /*display: flex; */
    /*flex-direction: column; */
    /*justify-content: center; */
    /*align-items: center; */
}

/*.homepage-container {
    display: flex;
    justify-content: center;
    outline: 1px solid red;
    max-width: 850px;
    padding: 20px;
    position: relative;
    float: left;
}

.homepage-grid-item {
    float: left;
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid black;
}

.item-width2 {
    width: 400px;
}

.item-height2 {
    height: 300px;
}*/


/* ---- grid ---- */

.homepage-grid {
  background: #EEE;
  /*max-width: 1200px;*/
  max-width: 800px;
  margin: 0 auto;
}

/* clearfix */
.homepage-grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.homepage-grid-item {
  width: 190px; 
  height: 90px;
  float: left;
  outline: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  /*border-radius: 5px;*/
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin: 0 auto;*/
}

.homepage-grid-item--width2 { width: 390px; }

.homepage-grid-item--height2 { height: 190px; }
.homepage-grid-item--height3 { height: 290px; }


 /* MEDIA QUERIES */

@media (min-width: 890px) { /* L */
    .homepage-grid {
        max-width: 800px;
    }
}

@media (min-width: 690px) and (max-width: 889px) { /* M */
    .homepage-grid {
        max-width: 600px;
    }
}

@media (min-width: 493px) and (max-width: 689px) { /* S */
    .homepage-grid {
        max-width: 400px;
    }
}

@media (max-width: 492px) { /* XS */
    .homepage-grid {
        max-width: 300px;
    }
    .homepage-grid-item {
        width: 300px;
        height: 90px;
    }
    .homepage-grid-item--width2 {
        width: 300px;
    }
    .homepage-grid-item--height2 {
        height: 90px;
    }
    .homepage-grid-item--height3 {
        height: 90px;
    }
}