body {
	box-sizing: border-box;
	margin: 0;
}

.hiding-bg {
	height:100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	z-index: 10;
	/*cursor: pointer;*/
	/*display: none;*/
}

/* ________________________ PRE-HOME ________________________ */

#pre-homepage {
    height: 100vh;
    width: 100vw;
    /*background: url('../img/007gun-barrel.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);*/
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#messengerContainer {
    height: 550px;
    width: 550px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#enter-site {
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
    color: red;
}

#messenger {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    font-family: monospace;
    font-size: 20px;
    /*white-space: nowrap;*/
    /*width: 100%;*/
}


/* ________________________ HOMEPAGE ________________________ */

#homepage {
    /*max-width: 100%;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*background-color: lightgrey;*/
    padding: 50px;
    /*display: flex; */
    /*flex-direction: column; */
    /*justify-content: center; */
    /*align-items: center; */
    transition: all ease 0.3s;
}

.homepage-grid {
  /*background: #EEE;*/
  /*max-width: 1200px;*/
  max-width: 800px;
  margin: 0 auto;
}

.homepage-grid:after {
  content: '';
  display: block;
  clear: both;
}

.homepage-grid-item {
  width: 190px; 
  height: 90px;
  float: left;
  outline: 2px solid #333;
  background-color: #232323;
  color: white;
  border-color: hsla(0, 0%, 0%, 0.5);
  /*border-radius: 5px;*/
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin: 0 auto;*/
  font-family: monospace;
  font-size: 20px;
  transition: all ease 0.3s;
}

.homepage-grid-item:hover {
	background-color: #fff;
	color: #232323;
}

.homepage-grid-item--width2 { width: 390px; }

.homepage-grid-item--height2 { height: 190px; }
.homepage-grid-item--height3 { height: 290px; }


 /* MEDIA QUERIES */

@media (min-width: 890px) { /* L */
    .homepage-grid {
        max-width: 800px;
    }
}

@media (min-width: 690px) and (max-width: 889px) { /* M */
    .homepage-grid {
        max-width: 600px;
    }
}

@media (min-width: 493px) and (max-width: 689px) { /* S */
    .homepage-grid {
        max-width: 400px;
    }
}

@media (max-width: 492px) { /* XS */
    .homepage-grid {
        max-width: 300px;
    }
    .homepage-grid-item {
        width: 300px;
        height: 90px;
    }
    .homepage-grid-item--width2 {
        width: 300px;
    }
    .homepage-grid-item--height2 {
        height: 90px;
    }
    .homepage-grid-item--height3 {
        height: 90px;
    }
}

/* ________________________ NAV ________________________ */

	nav {
		/*background-color: rgba(0, 0, 0, 0.9);*/
		width: 250px;
		height: 100vh;
		position: fixed;
		z-index: 10;
		left: -200px;
		/*display: flex;
		justify-content: center;
		align-items: center;*/
		color: white;
		transition: background-color ease 0.3s;
	}
	.nav-container {
		padding-left: 40px;
	}

	.nav-toggle {
		/*background-color: red;*/
		height: 30px;
		width: 25px;
		position: absolute;
		top: calc(50% - 30px);
		left: 85%;
		-webkit-transform: rotate(0deg);
	  	-moz-transform: rotate(0deg);
	  	-o-transform: rotate(0deg);
	  	transform: rotate(0deg);
	  	-webkit-transition: .5s ease-in-out;
	  	-moz-transition: .5s ease-in-out;
	  	-o-transition: .5s ease-in-out;
	  	transition: .5s ease-in-out;
	  	cursor: pointer;
	}
	.nav-toggle span {
		background-color: #232323;
		height: 3px;
		width: 100%;
		border-radius: 50px;
		position: absolute;
		display: block;
		left: 0;
		opacity: 1;
		-webkit-transform: rotate(0deg);
	  	-moz-transform: rotate(0deg);
	  	-o-transform: rotate(0deg);
	  	transform: rotate(0deg);
	  	-webkit-transition: .25s ease-in-out;
	  	-moz-transition: .25s ease-in-out;
	  	-o-transition: .25s ease-in-out;
	  	transition: .25s ease-in-out;
	}
	.nav-toggle span:nth-child(1) {
		top: 8px;
		
	}
	.nav-toggle span:nth-child(2) {
		top: 20px;
	}
	.nav-toggle.open span:nth-child(1) {
		top: 14px;
		/*top: 25px;*/
		/*left: 20px;*/
		-webkit-transform: rotate(-135deg);
	  	-moz-transform: rotate(-135deg);
	  	-o-transform: rotate(-135deg);
	  	transform: rotate(-135deg);
	  	background-color: #fff;
	}
	.nav-toggle.open span:nth-child(2) {
		top: 14px;
		/*top: 8px;*/
		/*left: 22px;*/
		-webkit-transform: rotate(135deg);
	  	-moz-transform: rotate(135deg);
	  	-o-transform: rotate(135deg);
	  	transform: rotate(135deg);
	  	background-color: #fff;
	}

	.nav-menu {
		padding-left: 0;
		height: 100%;
		/*line-height: 40px;*/
		/*transform: translateY(-50%);*/
		position: absolute;
	  	top: 15%;
	  	width: 80%;
	  	left: 10px;
	}
	.nav-menu li {
		/*display: flex;*/
		/*align-items: center;*/
		/*height: 50px;*/
		padding-left: 30px;
		padding-top: 20px;
		list-style: none;
		margin-top: 10px;
		cursor: pointer;
		transition: all ease 0.3s;
	}
	ul.nav-menu > li:hover {
		color: grey;
		margin-left: 10px;
		/*background-color: grey;*/
	}
	ul.nav-menu > li:hover .nav-dropdown {
		color: white;
	}
	/*.nav-menu-li:hover {
		color: grey;
	}*/
	.nav-menu span {
		font-size: 25px;
	}
	.nav-dropdown {
		/*background-color: red;*/
		display: none;
	}
	.nav-dropdown li:nth-child(1) {
		margin-top: 10px;
	}
	.nav-dropdown li:hover {
		text-decoration: underline;
		/*cursor: pointer;*/
		color: yellow;
	}


/* ________________________ PRESENTATION ________________________ */

	#presentation {
		transition: all ease 0.3s;
	}
	.pres-Container {
		max-width: 100%;
		/*background-color: lightgrey;*/
		padding: 50px;
		/*margin: 50px;*/
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.pres-title {
		/*outline: 1px solid green;*/
		font-family: courier;
		font-size: 30px;
	}

	.pres-cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		/*outline: 1px solid red;*/
		/*width: 100%;*/
		padding: 20px;
	}

									/* MOVIES */
		.card-movies {
			width: 168px;
			height: 250px;
			/*border: 1px solid black;*/
			margin: 10px;
			border-radius: 5px;
			overflow: hidden;
			cursor: pointer;
			position: relative;
			transition: all ease 0.3s;
		}
		.card-movies:after {
		  	content: "";
		  	position: absolute;
		  	top: 0;
		  	left: 0;
		  	height: 100%;
		  	width: 100%;
		  	transition: all 0.5s ease;
		  	opacity: 0.1;
		  	background-color: white;
		}
		.card-movies:hover:after {
		  	opacity: 0.8;
		}
		.card-movies:hover .card-circle{
		  	transform: translateX(0px);
		  	opacity: 1;
		}
		.card-movies:hover {
			box-shadow: 0px 0px 7px 0px grey;
			transform: translateY(5px);
		}
		.card-circle {
			/*background-color: #232323;*/ /* toggle */
			/*color: white;*/
			padding: 10px 4px 7px 13px;
			border-radius: 50%;
			height: 20px;
			width: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			margin-left: 65px;
			margin-top: 100px;
			cursor: pointer;
			/*display: none;*/
			transform: translateX(-30px);
			opacity: 0;
			z-index: 4;
			font-size: 20px;
			transition: transform ease 0.5s;
		}
		.card-top img {
			width: 100%;
		}

		#movies-modal {
			width: 500px;
			height: auto;
			position: fixed;
			top: 15%;
			/*left: 50%;*/
			background-color: #fff;
			border-radius: 2%;
			box-shadow: 0 0 20px 0px grey;
			z-index: 11;
			overflow: hidden;
		}
		#movies-modal .movies-modal-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.movies-modal-top {
			width: 100%;
			height: 220px;
		}
		#movies-modal iframe {
			width: 100%;
			height: 100%;
		}
		.movies-modal-bottom {
			width: 90%;
			padding-bottom: 20px;
		}
		.movies-modal-bottom div:first-child {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
		.movies-modal-bottom div:nth-child(2) {
			/*display: flex;
			align-items: center;
			justify-content: flex-start;*/
			width: 100%;
		}
		.movies-modal-cross {
			/*background-color: #fff;*/
			/*border-radius: 50%;*/
			height: 20px;
			width: 20px;
			position: absolute;
			bottom: 0;
			right: 0;
			cursor: pointer;
			transition: all ease 0.3s;
			z-index: 100;
		}
		.movies-modal-cross:hover {
			transform: rotateZ(90deg);
		}
		.movies-modal-cross span {
			background-color: #232323;
			border-radius: 50%;
			height: 3px;
			width: 70%;
			border-radius: 50px;
			position: absolute;
			display: block;
			left: 3px;
			opacity: 1;
		}
		.movies-modal-cross span:nth-child(1) {
			top: 8px;
			transform: rotateZ(45deg);
		}
		.movies-modal-cross span:nth-child(2) {
			top: 8px;
			transform: rotateZ(-45deg);
		}


									/*BOOKS*/

		.card-books {
			width: 168px;
			height: 250px;
			margin: 10px;
			border-radius: 5px;
			overflow: hidden;
			cursor: pointer;
			position: relative;
			transition: all ease 0.3s;
		}
		.card-books:after {
		  	content: "";
		  	position: absolute;
		  	top: 0;
		  	left: 0;
		  	height: 100%;
		  	width: 100%;
		  	transition: all 0.3s ease;
		  	opacity: 0.1;
		  	background-color: white;
		}
		.card-books:hover:after {
		  	opacity: 0.7;
		}
		.card-books:hover {
			box-shadow: 0px 0px 7px 0px grey;
			transform: translateY(5px);
		}
		.card-books:hover .card-books-more{
		  	transform: translateX(0px) rotateZ(180deg);
		  	opacity: 1;
		  	background-color: #505050;
		}
		.card-books-more {
			color: white;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			position: absolute;
			margin-left: 63px;
			margin-top: 100px;
			cursor: pointer;
			transform: translateX(-30px);
			opacity: 0;
			z-index: 4;
			font-size: 40px;
			transition: transform ease 0.5s, background-color 0.5s 0.3s;
		}
		.card-books img {
			width: 100%;
		}

		#books-modal {
			width: 500px;
			height: auto;
			position: fixed;
			top: 15%;
			/*left: 50%;*/
			background-color: #fff;
			border-radius: 2%;
			box-shadow: 0 0 20px 0px grey;
			z-index: 11;
			overflow: hidden;
		}
		#books-modal .books-modal-content {
			display: flex;
		}
		.books-modal-left {
			width: 50%;
			height: auto;
			overflow: hidden;
			position: relative;
		}
		#books-modal img {
			width: 200%;
			position: absolute;
			top: -120px;
			left: -120px;
		}
		.books-modal-right {
			width: 90%;
			padding: 0 20px 30px 20px;
		}
		.books-modal-right div:first-child {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
		.books-modal-right div:nth-child(2) {
			/*display: flex;
			align-items: center;
			justify-content: flex-start;*/
			width: 100%;
		}
		.books-modal-cross {
			/*background-color: #fff;*/
			/*border-radius: 50%;*/
			height: 20px;
			width: 20px;
			position: absolute;
			bottom: 0;
			right: 0;
			cursor: pointer;
			transition: all ease 0.3s;
			z-index: 100;
		}
		.books-modal-cross:hover {
			transform: rotateZ(90deg);
		}
		.books-modal-cross span {
			background-color: #232323;
			border-radius: 50%;
			height: 3px;
			width: 70%;
			border-radius: 50px;
			position: absolute;
			display: block;
			left: 3px;
			opacity: 1;
		}
		.books-modal-cross span:nth-child(1) {
			top: 8px;
			transform: rotateZ(45deg);
		}
		.books-modal-cross span:nth-child(2) {
			top: 8px;
			transform: rotateZ(-45deg);
		}

									/* VIDEO GAMES */

		.card-games {
			width: 168px;
			height: 250px;
			margin: 10px;
			border-radius: 5px;
			overflow: hidden;
			cursor: pointer;
			position: relative;
			transition: all ease 0.3s;
		}
		.card-games:after {
		  	content: "";
		  	position: absolute;
		  	top: 0;
		  	left: 0;
		  	height: 100%;
		  	width: 100%;
		  	transition: all 0.3s ease;
		  	opacity: 0.1;
		  	background-color: white;
		}
		.card-games:hover:after {
		  	opacity: 0.7;
		}
		.card-games:hover {
			box-shadow: 0px 0px 7px 0px grey;
			transform: translateY(5px);
		}
		.card-games:hover .card-games-more{
		  	transform: translateX(0px) rotateZ(180deg);
		  	opacity: 1;
		  	background-color: #505050;
		}
		.card-games-more {
			color: white;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			position: absolute;
			margin-left: 63px;
			margin-top: 100px;
			cursor: pointer;
			transform: translateX(-30px);
			opacity: 0;
			z-index: 4;
			font-size: 40px;
			transition: transform ease 0.5s, background-color 0.5s 0.3s;
		}
		.card-games img {
			width: 110%;
		}

		#games-modal {
			width: auto;
			/*height: 350px;*/
			height: auto;
			position: fixed;
			top: 15%;
			/*left: 50%;*/
			background-color: #fff;
			border-radius: 2%;
			box-shadow: 0 0 20px 0px grey;
			z-index: 11;
			overflow: hidden;
		}
		#games-modal .games-modal-content {
			display: flex;
		}
		.games-modal-left {
			height: auto;
			overflow: hidden;
			position: relative;
		}
		#games-modal img {
			width: 260px;
		}
		.games-modal-right {
			width: 100px;
			padding: 0 20px 30px 20px;
		}
		.games-modal-right div:first-child {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
		.games-modal-right div:nth-child(2) {
			width: 100%;
		}
		.games-modal-cross {
			/*background-color: #fff;*/
			/*border-radius: 50%;*/
			height: 20px;
			width: 20px;
			position: absolute;
			bottom: 0;
			right: 0;
			cursor: pointer;
			transition: all ease 0.3s;
			z-index: 100;
		}
		.games-modal-cross:hover {
			transform: rotateZ(90deg);
		}
		.games-modal-cross span {
			background-color: #232323;
			border-radius: 50%;
			height: 3px;
			width: 70%;
			border-radius: 50px;
			position: absolute;
			display: block;
			left: 3px;
			opacity: 1;
		}
		.games-modal-cross span:nth-child(1) {
			top: 8px;
			transform: rotateZ(45deg);
		}
		.games-modal-cross span:nth-child(2) {
			top: 8px;
			transform: rotateZ(-45deg);
		}



/* ________________________ PHOTO GALLERY ________________________ */

	#photoGallery {
		transition: all ease 0.3s;
	}
	.photo-Container {
		max-width: 100%;
		/*background-color: lightgrey;*/
		padding: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.photo-title {
		/*outline: 1px solid green;*/
		font-family: courier;
		font-size: 30px;
	}

	.photo-cards-container {
		display: flex;
		/*flex-wrap: wrap;*/
		justify-content: center;
		/*outline: 1px solid red;*/
		/*width: 100%;*/
		padding: 20px;
	}

	.photo-cards {
		float: left;
		width: 200px;
		margin-bottom: 10px;
		cursor: pointer;
	}
	.photo-cards img {
		width: 100%;
	}
	.photos-cards--width3 {
		width: 400px;
		margin-bottom: 10px;
		cursor: pointer;
	}

	.photo-cards:after {
	  	content: "";
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	height: 100%;
	  	width: 100%;
	  	transition: all 0.3s ease;
	  	opacity: 0.1;
	  	background-color: grey;
	}
	.photo-cards:hover:after {
	  	opacity: 0.7;
	}

	#photos-modal {
		height: 80vh;
		position: fixed;
		/*top: 10%;*/
		top: 0;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 0 20px 0px grey;
		z-index: 11;
		overflow: hidden;
	}
	#photos-modal .photos-modal-content {
		display: flex;
	}
	#photos-modal img {
		/*width: 100%;*/
		height: 80vh;
	}
	.photos-modal-cross {
		background-color: #232323;
		border-radius: 50%;
		height: 20px;
		width: 20px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		transition: all ease 0.3s;
		z-index: 100;
	}
	.photos-modal-cross:hover {
		transform: rotateZ(90deg);
	}
	.photos-modal-cross span {
		background-color: #fff;
		border-radius: 50%;
		height: 3px;
		width: 70%;
		border-radius: 50px;
		position: absolute;
		display: block;
		left: 3px;
		opacity: 1;
	}
	.photos-modal-cross span:nth-child(1) {
		top: 8px;
		transform: rotateZ(45deg);
	}
	.photos-modal-cross span:nth-child(2) {
		top: 8px;
		transform: rotateZ(-45deg);
	}
